<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Error !</h1>
          <% if (message!=undefined) { %>
          <pre><%= message %></pre>
          <% } %> <% if (error!=undefined) { %> <% if (error.status!=undefined)
          { %>
          <pre><%= error.status %></pre>
          <% } %> <% if (error.stack!=undefined) { %>
          <pre><%= error.stack %></pre>
          <% } %> <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
