<footer>
  <div class="pull-right">
    <a href="https://github.com/google/iree">Optimum</a> Benchmark Dashboard
    (with <a href="https://github.com/google/dana">Dana</a>)
  </div>
  <div class="clearfix"></div>
</footer>
