<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <b>IREE PerfBoard</b>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a class="active" href="/IREE/statusSeries">Benchmark Status</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
  body {
    padding-top: 51px;
    padding-bottom: 40px;
    background-color: #eee;
  }
</style>
