<!--
/*
 * Copyright 2017 Google Inc. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title">
        <i class="fa fa-cogs"></i>
        <span>PerfBoard</span>
      </a>
    </div>

    <div class="clearfix"></div>
    <!-- /menu profile quick info -->

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <a>
              <i class="fa fa-tachometer"></i>
              Summary<span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li>
                <a href="/IREE/overall-status">
                  Daily Status Snapshots
                </a>
              </li>
              <li>
                <a href="/IREE/default-latency-status">
                  All Latency Status <br> (default flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-latency-status">
                  All Latency Status <br> (experimental flags)
                </a>
              </li>
              <li>
                <a href="/IREE/default-statistics-status">
                  All Statistics Status <br> (default flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-statistics-status">
                  All Statistics Status <br> (experimental flags)
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a>
              <i class="fa fa-microchip"></i>
              Targets<span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li>
                <a href="/IREE/default-arm-cpu-series">
                  ARM CPU <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-arm-cpu-series">
                  ARM CPU <br> (experimental-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/default-x86-cpu-series">
                  X86_64 CPU <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-x86-cpu-series">
                  X86_64 CPU <br> (experimental-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/default-adreno-gpu-series">
                  Adreno GPU <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-adreno-gpu-series">
                  Adreno GPU <br> (experimental-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/default-cuda-gpu-series">
                  CUDA GPU <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-cuda-gpu-series">
                  CUDA GPU <br> (experimental-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/default-mali-gpu-series">
                  Mali GPU <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-mali-gpu-series">
                  Mali GPU <br> (experimental-flags)
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a>
              <i class="fa fa-rocket"></i>
              Drivers<span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li>
                <a href="/IREE/default-llvm-cpu-driver-series">
                  IREE LLVM CPU <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-llvm-cpu-driver-series">
                  IREE LLVM CPU <br> (experimental-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/default-vulkan-driver-series">
                  IREE Vulkan <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-vulkan-driver-series">
                  IREE Vulkan <br> (experimental-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/default-vmvx-driver-series">
                  IREE VMVX <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-vmvx-driver-series">
                  IREE VMVX <br> (experimental-flags)
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a>
              <i class="fa fa-table"></i>
              Statistics<span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li>
                <a href="/IREE/default-compilation-time-series">
                  Compilation Time <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-compilation-time-series">
                  Compilation Time <br> (experimental-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/default-total-dispatch-size-series">
                  Total Dispatch Size <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-total-dispatch-size-series">
                  Total Dispatch Size <br> (experimental-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/default-total-artifact-size-series">
                  Total Artifact Size <br> (default-flags)
                </a>
              </li>
              <li>
                <a href="/IREE/experimental-total-artifact-size-series">
                  Total Artifact Size <br> (experimental-flags)
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
