<!--
/*
 * Copyright 2017 Google Inc. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title">
        <i class="fa fa-cogs"></i>
        <span>Dana dashboard</span>
      </a>
    </div>

    <div class="clearfix"></div>
    <!-- /menu profile quick info -->

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <a>
              <i class="fa fa-tachometer"></i>
              Test<span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li>
                <a href="/Test/statusOverall">
                  Overall status
                </a>
              </li>
              <li>
                <a href="/Test/statusTests">
                  Tests status
                </a>
              </li>
              <li>
                <a href="/Test/statusSeries">
                  Benchmarks status
                </a>
              </li>
              <li>
                <a href="/Test/statusCompare_with_build_1000">
                  Compare with build 1000
                </a>
              </li>
              <li>
                <a href="/Test/showGraphs">
                  Show graphs
                </a>
              </li>
              <li>
                <a href="/dailyReports/Test.html">
                  Last daily report emailed
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
