<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0">
      <a href="/" class="site_title">
        <i class="fa fa-cogs"></i>
        <span>Dana</span>
      </a>
    </div>

    <div class="clearfix"></div>
    <!-- /menu profile quick info -->

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <a href="/admin/viewProjects"> Projects </a>
          </li>
          <li>
            <a href="/admin/viewCompares"> Comparators </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
