<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0">
      <a href="/" class="site_title">
        <i class="fa fa-cogs"></i>
        <span>Optimum</span>
      </a>
    </div>

    <div class="clearfix"></div>
    <!-- /menu profile quick info -->

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <a>
              <i class="fa fa-tachometer"></i>Optimum-Benchmark<span
                class="fa fa-chevron-down"
              ></span>
            </a>
            <ul class="nav child_menu">
              <li>
                <a href="/Optimum-Benchmark/statusOverall"> Overall status </a>
              </li>
              <li>
                <a href="/Optimum-Benchmark/statusTests"> Tests status </a>
              </li>
              <li>
                <a href="/Optimum-Benchmark/statusSeries">
                  Benchmarks status
                </a>
              </li>
              <!-- <li>
                <a href="/Optimum-Benchmark/showGraphs"> Show graphs </a>
              </li> -->
              <li>
                <a href="/dailyReports/Optimum-Benchmark.html">
                  Last daily report emailed
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
